@font-face {
	font-family: "Poppins-Regular";
	src: url("./font/Poppins-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Poppins-Regular";
}

body {
  background-color: #d3d0cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

img {
    max-width: 100%;
}

.main_layout {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.grille {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-position: center center;
  background-size: 100%;
  height: 80vh;
  width: 80vw;
}

.case {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 0.18s;
}

.case.cache {
	background-color: #393e41;
    opacity: 1;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.precedent {
  background-color: #e7bb41;
}

.suivant {
  background-color: #44bba4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(138, 129, 141);
    font-size: 1.5rem;
    margin-left: 10px;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
}
